<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sj.rentinghouse">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="a42miWm75iFdAkHxHdcgIIz7SprY1Xva" />

        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.HouseListActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.HotWordActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.HouseDetailActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.AddOrUpdateOrderActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.SettingActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.OrderManagerActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.AddOrUpdateHouseActivity"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.HouseManagerActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.HtmlActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name="com.sj.im.ChatActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".activity.IMChatActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize"/>
    </application>

</manifest>